@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

@keyframes load {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.mainCont {
    font-family: 'Manrope', sans-serif;
    @apply w-full min-h-screen relative bg-blue-700 ;
}

.container {
    font-family: Manrope;
    @apply w-full min-h-screen pb-12 bg-white  ;
}

.containerWrapper {
    @apply w-full h-auto pb-12  ;
}

.stage1Cont {
    animation: disappear 0.5s forwards;
    /*animation-delay: 150ms;*/
    opacity: 1;
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.welcomeCont {
    animation: load 0.5s forwards;
    animation-delay: 0.5s;
    @apply w-full h-auto flex flex-col items-center gap-3 pt-10 pb-12 opacity-100 ;
}

.welcomeContEnd {
    animation: disappear 0.25s forwards;
    opacity: 1;
    @apply w-full h-screen flex flex-col items-center gap-3 pt-10 pb-12 ;
}

.chooseMapCont {
    animation: load 0.25s forwards;
    /*animation-delay: 1s;*/
    @apply w-full h-auto flex flex-col items-center gap-3 pt-10 pb-12 opacity-100 ;
}

.chooseMapWrapper {
    animation: load 0.25s forwards;
    @apply w-full h-full min-h-screen pt-4 pb-12 flex flex-col justify-between ;
}